body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0;
}

h1 {
    
    background:rgb(208 26 26);
    color:white;
    text-align:center;
    background-image: url(../img/carro.png);
    background-attachment:fixed;
    background-repeat:no-repeat;
    border:10px solid blue;
    padding:15px;
    visibility:hidden;

}
