<div class="alert alert-dismissible alert-warning">
    <strong>Ambiente de Homologação</strong>
    <h4 class="alert-heading" data-unsp-sanitized="clean">
        Página ainda em construção....
    </h4>
</div>