<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="regraNovaAtiva" value="true"/>
    <add key="chaveExemplo" value="batatas do console.APP"/>
    <add key="ativarPromocoes" value="true"/>
    <add key="minimoDiasLancamento" value="30"/>
    <add key="maximoDiasLancamento" value="50"/>
    <add key="descontoMaximoLivroPeriodico" value="50"/>
    <add key="descontoMinimoLivroPeriodico" value="20"/>
    
    
    <!--Introdução ao DependencyInjection-->
    <add key="RegraDescontoValida" value="Percentual2"/> <!--Combinada-->
  </appSettings>
  
</configuration>