<h1>Listar View</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Produto" asp-action="Index">Index</a>
@ViewBag.valor * 1.2;
@@email;

@for (int i = 0; i < 5; i++)
{

    <h2>Exemplo @i</h2>



    <br />

    @(ViewBag.valor*1.2);
    @:texto puro


    <text>
        <p>linha sem código</p>
        <p>linha sem código</p>
        <p>linha sem código</p>
    </text>
}

